---
http_interactions:
- request:
    method: get
    uri: https://kiwicom-prod.apigee.net/v2/search?fly_from=invalid-from
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":[{"param":"fly_from","errors":["Not recognized location:
        `invalid-from`"]}]}'
  recorded_at: Fri, 16 Aug 2019 08:43:29 GMT
recorded_with: VCR 5.0.0
