---
http_interactions:
- request:
    method: get
    uri: https://kiwicom-prod.apigee.net/v2/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":[{"param":"fly_from","errors":["Field fly_from cannot be
        anywhere or unspecified when fly_to is either anywhere or unspecified."]}]}'
  recorded_at: Fri, 16 Aug 2019 10:19:23 GMT
recorded_with: VCR 5.0.0
