---
http_interactions:
- request:
    method: get
    uri: https://kiwicom-prod.apigee.net/locations/query?term=Madrid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"locations":[{"id":"madrid_es","active":true,"name":"Madrid","slug":"madrid-spain","code":"MAD","alternative_names":[],"rank":1,"global_rank_dst":0,"dst_popularity_score":4464444.0,"timezone":"Europe\/Madrid","population":3255944,"airports":1,"stations":3,"hotels":3623,"bus_stations":1,"subdivision":null,"autonomous_territory":null,"country":{"id":"ES","name":"Spain","slug":"spain","code":"ES"},"region":{"id":"southern-europe","name":"Southern
        Europe","slug":"southern-europe"},"continent":{"id":"europe","name":"Europe","slug":"europe","code":"EU"},"location":{"lat":40.416775,"lon":-3.70379},"tags":[{"tag":"nightlife","month_to":-1,"month_from":-1},{"tag":"sightseeing&culture","month_to":-1,"month_from":-1}],"alternative_departure_points":[{"id":"EEM","distance":254.84,"duration":10551},{"id":"ES-MADR-MAD0","distance":5.78,"duration":738.9},{"id":"ES-MADR-MADR","distance":4.75,"duration":539.9},{"id":"ES-SALA-SALA","distance":215.23,"duration":9074.4},{"id":"MAD","distance":23.35,"duration":1424.6},{"id":"RGS","distance":249.2,"duration":10503.6},{"id":"SLM","distance":197.0,"duration":8378.3},{"id":"VLL","distance":218.58,"duration":9256.1},{"id":"XJI","distance":187.23,"duration":8238.6},{"id":"XJJ","distance":254.79,"duration":10556.9},{"id":"XJN","distance":187.86,"duration":8491.5},{"id":"XJO","distance":226.88,"duration":9369.7},{"id":"XJU","distance":240.67,"duration":10130.8},{"id":"XOC","distance":2.14,"duration":284},{"id":"XOU","distance":90.32,"duration":4190.5},{"id":"XTI","distance":7.51,"duration":787.7},{"id":"XTJ","distance":73.43,"duration":3403.9}],"providers":[1035,1064,1096,1111,1138,1148,1163,1175,1179],"car_rentals":[{"provider_id":1175,"providers_locations":["1136088","464588","1516661","164444"]},{"provider_id":1175,"providers_locations":["475358","464523","2606176","475333","464558","1346633","2804226","1013326","475373","3957065","1346693","2982541","1346513","475343","464568","4161757"]}],"type":"city"},{"id":"MAD","int_id":2594,"active":true,"code":"MAD","icao":"LEMD","name":"Adolfo
        Su\u00e1rez Madrid\u2013Barajas","slug":"adolfo-suarez-madrid-barajas-madrid-spain","alternative_names":["Aeropuerto
        de Madrid-Barajas","Madrid (Adolfo Suarez Barajas)"],"rank":1,"global_rank_dst":0,"dst_popularity_score":4463577.0,"timezone":"Europe\/Madrid","city":{"id":"madrid_es","name":"Madrid","code":"MAD","slug":"madrid-spain","subdivision":null,"autonomous_territory":null,"country":{"id":"ES","name":"Spain","slug":"spain","code":"ES"},"region":{"id":"southern-europe","name":"Southern
        Europe","slug":"southern-europe"},"continent":{"id":"europe","name":"Europe","slug":"europe","code":"EU"}},"location":{"lat":40.493611,"lon":-3.566667},"alternative_departure_points":[{"id":"XJJ","distance":262.03,"duration":10745.4},{"id":"EEM","distance":262.09,"duration":10739.5},{"id":"RGS","distance":240.74,"duration":9797.1},{"id":"XJU","distance":232.2,"duration":9424.3},{"id":"XJI","distance":205.66,"duration":8840.2},{"id":"ECV","distance":32.01,"duration":1648.9},{"id":"XOC","distance":21.69,"duration":1258.9},{"id":"XTI","distance":14.42,"duration":908.4},{"id":"SLM","distance":209.85,"duration":8850.8},{"id":"XOU","distance":103.17,"duration":4663},{"id":"XJO","distance":223.23,"duration":9065.2},{"id":"XTJ","distance":91.86,"duration":4005.5},{"id":"TOJ","distance":20.2,"duration":1498.5},{"id":"VLL","distance":231.43,"duration":9728.6},{"id":"XJN","distance":200.71,"duration":8964},{"id":"XIV","distance":201.22,"duration":9022.6}],"tags":[{"tag":"nightlife","month_to":-1,"month_from":-1},{"tag":"sightseeing&culture","month_to":-1,"month_from":-1}],"providers":[1096,1111,1148,1163,1175,1179],"special":[{"id":"plaza-mayor_poi","name":"Plaza
        Mayor","slug":"plaza-mayor"},{"id":"museo-del-prado_poi","name":"Museo Del
        Prado","slug":"museo-del-prado"},{"id":"segovia_poi","name":"Segovia","slug":"segovia"}],"tourist_region":[],"car_rentals":[{"provider_id":1175,"providers_locations":["464588","1136088","1516661","164444"]}],"type":"airport"},{"id":"CLQ","int_id":8285,"active":true,"code":"CLQ","icao":"MMIA","name":"Colima","slug":"colima-colima-mexico","alternative_names":["Aeropuerto
        Nacional Licenciado Miguel de la Madrid"],"rank":53,"global_rank_dst":37,"dst_popularity_score":7659.0,"timezone":"America\/Mexico_City","city":{"id":"colima_mx","name":"Colima","code":"CLQ","slug":"colima-mexico","subdivision[...]
- request:
    method: get
    uri: https://kiwicom-prod.apigee.net/locations/query?location_types=airport&term=Madrid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"locations":[{"id":"MAD","int_id":2594,"active":true,"code":"MAD","icao":"LEMD","name":"Adolfo
   [...]
- request:
    method: get
    uri: https://kiwicom-prod.apigee.net/locations/query?location_types=airport&term=Chiang%20Mai
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"locations":[{"id":"CNX","int_id":8648,"active":true,"code":"CNX","icao":"VTCC","name":"Chia[...]
